<h1>Leilão de lotes</h1>
<% if is_admin? %>
  <%= link_to 'Cadastrar lote', new_lot_path, class:"btn btn-success my-3" %>
<% end %>
<% unless @unnaproved_lots.nil? %>
  <% unless @unnaproved_lots.empty? %>
    <hr>
  <% end %>
  <%= render 'shared/display_lots', lots: @unnaproved_lots %>
<% end %>
<% unless @lots.empty? %>
  <hr>
  <%= render 'shared/display_lots', lots: @lots %>
</div>
<% else %>
  <p>Não há lotes disponíveis</p>
<% end %>
