<h1>Leilão de lotes</h1>
<% if is_admin? %>
  <%= link_to 'Cadastrar lote', new_lot_path, class:"btn btn-success my-3" %>
<% end %>
<% if @unnaproved_lots.present? %>
    <hr>
    <h2>Lotes aguardando aprovação do administrador: </h2>
  <%= render 'shared/display_lots', lots: @unnaproved_lots %>
<% end %>
<% if @lots.present? %>
  <hr>
  <%= render 'shared/display_lots', lots: @lots %>
</div>
<% else %>
  <p>Não há lotes disponíveis</p>
<% end %>
